@mixin style-icon($size) {
  i {
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7px;
    cursor: pointer;
    font-size: $size;
    transition: all 0.25s linear;
    &:hover {
      background-color: $hover-icon;
    }
  }
}

// Khai báo kích thước tương ứng với màn hình thiết bị

$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1200px;

// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $SM) and (min-width: ($XS+1)) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) and (min-width: ($SM+1)) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) and (min-width: ($MD+1)) {
      @content;
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}
