// variable
$height-bottomNav: 90px;
$width-sideBar: 230px;
$width-sideBar-tl: 70px;
$height-header: 70px;

//color
$player-bg: #120c1c;
$content-bg: #170f23;
$sidebar-bg: #231b2e;
$hover-icon: #272230;
$hover-play: #c662ef;
$text-color: #dadada;
$border-color: #7200a1;
$white: #fff;
$bg-item-category: #231b2e;
$horizontal-color: #393243;
$text-secondary: #ffffff80;
$hover-music: #2f2739;
$bg-modal: #432275;
$input-bg: #ffffff1a;
