@import '../sass/variable';
@import '../sass/mixins';

.wrapper {
  position: fixed;
  bottom: 0;
  background-color: $player-bg;
  height: $height-bottomNav;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 2;
}
.music {
  display: flex;
  align-items: center;
  flex: 0.3;

  .image {
    width: 70px;
    border-radius: 4px;
    height: 70px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }
  &-name {
    padding-left: 10px;
    user-select: none;
    width: 60%;
    white-space: nowrap;
    p:nth-child(2) {
      font-size: 0.75rem;
      color: #ccc;
    }
  }
  .favourite {
    display: flex;
    align-items: center;

    @include style-icon(16px);
  }
}
.play {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 7px;
    .icon {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 21px;
      height: 40px;
      align-items: center;
      cursor: pointer;

      &:hover span {
        opacity: 0.8;
      }
      span {
        width: 3px;
        height: 26px;
        background-color: $hover-play;
        border-radius: 3px;
        animation: bounce 2.2s ease-in-out infinite alternate;
        content: '';
        &:nth-of-type(2) {
          animation-delay: -2.2s; /* Start at the end of animation */
        }

        &:nth-of-type(3) {
          animation-delay: -3.7s; /* Start mid-way of return of animation */
        }
        &:nth-of-type(4) {
          animation-delay: -4.2s; /* Start mid-way of return of animation */
        }
      }
    }
    @include style-icon(24px);
    i:nth-child(3) {
      font-size: 40px;
      padding: 0;
      &:hover {
        color: $hover-play;
        background-color: transparent;
      }
    }
  }
  &-time {
    width: 100%;
    font-size: 0.75rem;
    display: flex;
    align-items: center;

    input[type='range'] {
      width: 90%;
      margin: 0 10px;
      height: 4px;
      outline: none;
      cursor: pointer;
      transition: all 0.05s linear;
      &:hover {
        height: 7px;
      }
    }
  }
}
.option {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  @include style-icon(16px);
  .volume {
    display: flex;
    align-items: center;
    input[type='range'] {
      height: 4px;
      width: 70px;
      outline: none;
      &:active {
        height: 6px;
      }
    }
  }
  .vertical-tiles {
    height: 41px;
    width: 1px;
    margin: 0 10px 0 20px;
    background-color: $hover-icon;
  }
}
