@import '../sass/variable';
@import '../sass/mixins';

.wrapper {
  height: $height-header;
  color: $text-color;
  width: 100%;
  padding: 0 60px;
  background-color: $content-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include Responsive(MD) {
    padding: 0 30px;
  }
}
.header-left {
  display: flex;
  align-items: center;
  flex: 0.7;
  i {
    font-size: 1.5rem;
    margin-right: 20px;
  }
  .form-search {
    width: 65%;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.1);
    height: 40px;
    position: relative;
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
    input[type='text'] {
      position: absolute;
      left: 40px;
      height: 100%;
      color: $white;
      right: 25px;
      outline: none;
      border: none;
      background-color: transparent;
    }
  }
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0.3;
  i {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: $hover-icon;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s linear;
    &:hover {
      opacity: 0.7;
    }
  }
  .avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $hover-icon;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $border-color;
    cursor: pointer;
  }
}
.tooltip {
  color: $white;
  background-color: $hover-icon;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 0.8rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent $hover-icon transparent;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
}
